.UserPage {
  padding: 20px 15%;

  nav {
    display: flex;
    flex-direction: row-reverse;

    button {
      margin: 20px;
    }
  }

  #hero {
    display: flex;
    justify-content: space-evenly;

    #main {
      width: 25%;

      h1 {
        margin-bottom: 5px;
      }
    }

    #target {
      margin: 50px;
      text-align: center;
      width: 40%;

      #money-left {
        font-size: 8em;
      }

      #pay-button {
        font-size: 2em;
      }
    }

    #points {
      padding: 20px;
      width: 40%;

      h1 {
        margin-top: 30px;
        margin-bottom: 5px;
      }
    }

    @media screen and (min-width: 750px) and (max-width: 1024px) {
      #points {
        display: none;
      }
    }

    @media screen and (max-width: 750px) {
      #target, #points {
        display: none;
      }
    }
  }

  #stats {
    .badge-icon {
      width: 75px;
      height: 75px;
      margin: 6px;
    }
  }
}