.UserPage {
  padding: 20px 15%;

  #hero {
    display: flex;
    justify-content: space-evenly;

    #main {
      width: 25%;

      h1 {
        margin-bottom: 5px;
      }
    }

    #target {
      margin: 50px;
      text-align: center;
      width: 40%;

      #money-left {
        font-size: 8em;
      }

      #pay-button {
        font-size: 2em;
      }
    }

    #points {
      padding: 20px;
      width: 40%;

      h1 {
        margin-top: 30px;
        margin-bottom: 5px;
      }
    }
  }
}